html, body {
  margin: 1rem;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  user-select: none;
}

.controls {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.grid {
  display: grid;
  background: #999;
}

.pixel {
  background: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.pixel.black {
  background: black;
}