html, body {
  margin: 1rem;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  user-select: none;
}

.controls {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.grid {
  display: grid;
  background: #999;
}

.grid.no-lines .pixel {
  border: none;
}

.pixel {
  background: black;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.pixel.black {
  background: white;
}

.switch {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 42px;
  height: 22px;
  background: #bbb;
  border-radius: 22px;
  transition: background 0.2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 2px;
  background: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

/* ON state */
.switch input:checked + .slider {
  background: #4caf50;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

.switch-label {
  font-size: 14px;
}
